/*//////////////////////////Navigation bar/////////////////////////*/
header {
    box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 5%);
  }
  @media (max-width: 992px) {
    .navigation-bar_fullWidth {
      display: none;
    }
  }
  
  .navigation-bar_fullWidth {
    box-shadow: 0 -1px 0 rgb(0 0 0 / 5%);
    height: 100px;
    z-index: 1;
  }
  .navigation-bar_inner {
    padding-left: 43px;
    padding-right: 15px;
    flex-wrap: initial;
  }
  .logoImg {
    max-height: 70px;
  }
  .navigation-main {
    font-size: 0;
  }
  .navLink {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.2s ease-out 0.05s;
    transition: all 0.2s ease-out 0.05s;
    font-size: 14.5px;
    font-weight: 500;
    height: 100px;
    line-height: 100px;
  }
  
  /*//////////////////////Mobile header/////////////////////*/
  @media (min-width: 768px) {
    .mobile-header img {
      max-height: 66px;
    }
  }
  .mobile-header {
    box-shadow: 0px 3px 2px 0px rgb(0 0 0 / 3%), 0 1px 0 0 rgb(0 0 0 / 4%),
      0 -1px 0 0 rgb(0 0 0 / 4%);
  }
  @media (min-width: 991px) {
    .mobile-header {
      display: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .mobile-header {
      display: block !important;
    }
  }
  .mobile-header__inner {
    -webkit-box-pack: justify;
    -webkit-box-align: center;
  }
  .icon-menu {
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 26px;
    line-height: 50px;
  }
  @media (min-width: 768px) {
    .icon-menu {
      font-size: 24px;
      line-height: 70px;
    }
  }
  .icon-menu:before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    font-size: 1.3rem;
  }
  .backdropOffCanvas {
    background: rgba(0, 0, 0, 0.4);
  }
  .offCanvasMenu {
    max-width: 100% !important;
    width: 320px !important;
  }
  @media (min-width: 768px) {
    .offCanvasMenu {
      width: 360px !important;
    }
  }
  .logo-image {
    max-height: 50px;
  }
  