
@keyframes fade_in_show {
    0% {
      opacity: 0;

    }
    100% {
      opacity: 1;

    }
  }
@keyframes fade_in_hide {
    0% {
      opacity: 1;

    }
    100% {
      opacity: 0;

    }
  }

  .nn{
      animation:fade_in_show 0.3s ease-in ;
    
  }
  .nnn{
      animation:fade_in_hide 1s ease-in ;
  }
