@media (max-width: 1199px) {
  .slider-block {
    margin-bottom: 70px;
  }
}
@media (max-width: 1199px) {
  .slider-block_inner::before {
    width: 296px !important;
    height: 520px !important;
  }
}
.slider-block_inner::before {
  content: "";
  position: absolute;
  background: #607027;
  top: 0;
  left: 0;
  width: 370px;
  height: 650px;
}
@media (max-width: 992px) {
  .slider-block_inner::before {
    display: none;
  }
}
.post__text {
  /* transition: all 700ms ease-in; */
}
.post__thumb {
  transition: height 500ms ease;
  transition: width 500ms ease;
}
@media (min-width: 768px) {
  .post-horizontal-large .post__thumb {
    width: calc(50% - 15px);
    float: left;
    margin: 0 20px 0 0;
  }
}
.post-horizontal-large .post__thumb {
  margin-right: 50px;
  width: 370px;
  height: 425px;
}
@media (max-width: 1199px) {
  .post-horizontal-large .post__thumb {
    margin-right: 40px;
    width: 296px;
    height: 340px;
  }
}
@media (max-width: 991px) {
  .post-horizontal-large .post__thumb {
    width: calc(50% - 15px);
    height: 360px;
  }
}
@media (max-width: 768px) {
  .post-horizontal-large .post__thumb {
    margin-right: 0;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .post-horizontal-large .post__thumb {
    margin: 0 30px 0 0;
  }
}
.post--horizontal-large .post__thumb {
  width: 100%;
  margin: 0 15px 5px 0;
}

.post__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.post__excerpt {
  max-width: 30em;
  margin-bottom: 25px;
}
.post__cat {
  background: #607027;
}
.excerpt {
  display: -webkit-box !important;
  -webkit-box-orient: vertical;
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  position: absolute !important;
  left: -8% !important;
  top: 20% !important;
  display: flex !important;
  width: fit-content !important;
  flex-direction: column !important;
  margin-right: 50px !important;
  padding: 75px 0 0 !important;
  text-align: center !important;
  line-height: 1 !important;
  transition: left 500ms ease-out !important;
  transition: top 500ms ease-out !important;
}
@media (max-width: 767px) {
  .slick-dots {
    left: 0 !important;
    top: 83% !important;
    flex-direction: row !important;
  }
}
@media (max-width: 850px) and (min-width: 768px) {
  .slick-dots {
    left: -2% !important;
  }
}
.slick-dots li button:before {
  font-size: 13px !important;
}
.slick-dots li {
  margin: 0 !important;
  margin-bottom: 1rem !important;
}
@media (max-width: 850px) and (min-width: 768px) {
  .slide-content {
    padding-left: 22px;
    padding-right: 22px;
  }
}
