@tailwind base;
@tailwind components;
@tailwind utilities;

/* Public */
input:focus {
  background-color: aliceblue;
  color: black;
}
/* Sign Up */
.signUpBg {
  height: 113%;
}
/* Login */
@keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_in_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Dashboard */
aside .fa {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.editorClassName {
  height: 48vh !important;
}
.wrapperClassName {
  border: solid 2px black;
  border-radius: 0.5em;
  padding: 0.2rem;
}
.public-DraftStyleDefault-block {
  margin: 0 !important;
}
.modal button {
  background: rgb(237 237 237) !important;
}
.homeIcon {
  font-size: x-large !important;
}
/* Home */
@media (min-width: 768px) {
  .smallCard {
    width: 22.5%;
  }
  .largeCard {
    width: 45%;
  }
}