@tailwind base;
@tailwind components;
@tailwind utilities;

/* Public */
* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
}
input:focus {
  background-color: aliceblue;
  color: black;
}
.opaAnimate {
  animation: fade_in_show 1s;
}
@keyframes change_scale_and_opacity {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
/* Sign Up */
.signUpBg {
  height: 113%;
}
.signupSection {
  animation: fade_in_show 1s;
}
/* Login */
.loginSection {
  animation: fade_in_show 1s;
}
@keyframes fade_in_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade_in_hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Dashboard */
aside .fa {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.editorClassName {
  height: 48vh !important;
}
.wrapperClassName {
  border: solid 1px #3182ce;
  border-radius: 0.5em;
  padding: 0.2rem;
}
.public-DraftStyleDefault-block {
  margin: 0 !important;
}
.homeIcon {
  font-size: x-large !important;
}
.public-DraftEditor-content {
  overflow-wrap: anywhere !important;
}
@media (min-width: 768px) {
  .dashboardCard {
    min-width: 50%;
    max-width: 50%;
  }
}
.dashboardCard {
  animation: change_scale_and_opacity 1s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Home */
@media (min-width: 1024px) {
  .smallCard {
    width: 22.5% !important;
  }
  .largeCard {
    width: 45% !important;
  }
}
@media (min-width: 768px) {
  .smallCard {
    width: 45%;
  }
  .largeCard {
    width: 45%;
  }
}
.smallCard,
.largeCard {
  box-shadow: 4px 0px 9px -2px rgba(32, 86, 133, 0.55);
  animation: change_scale 1s;
}
.cartInfo {
  min-width: auto;
  max-width: -webkit-fill-available;
  background: rgba(255, 255, 255, 0.712);
}
@keyframes change_scale {
  0% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@media (min-width: 576px) {
  .imgCart:hover {
    transform: scale(1.1);
  }
}

/* Blog */
.blogImg {
  filter: blur(4px);
  animation: fade_in_show 1s;
}
.blogSmallImg {
  animation: change_scale_and_opacity 1s;
}
.blogText {
  overflow-wrap: break-word;
}


/* Header */
header {
  box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 5%);
}
.navigation-bar_fullWidth {
  box-shadow: 0 -1px 0 rgb(0 0 0 / 5%);
  height: 120px;
  z-index: 1;
}
.navigation-bar_inner {
  padding-left: 43px;
  padding-right: 15px;
  flex-wrap: initial;
}
.logoImg {
  max-height: 70px;
}
.navigation-main {
  font-size: 0;
}
.navLink {
  padding: 0 10px;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s ease-out 0.05s;
  transition: all 0.2s ease-out 0.05s;
  font-size: 14.5px;
  font-weight: 500;
  height: 120px;
  line-height: 120px;
}

/* Slider */
@media (max-width: 1199px) {
  .slider-block {
    margin-bottom: 70px;
  }
}
@media (max-width: 1199px) {
  .slider-block_inner::before {
    width: 296px !important;
    height: 520px !important;
  }
}
.slider-block_inner::before {
  content: "";
  position: absolute;
  background: #607027;
  top: 0;
  left: 0;
  width: 370px;
  height: 650px;
}
@media (max-width: 1199px) {
  .slider-block_inner .main-section {
    margin-left: 180px;
  }
}
.post-horizontal-large .post_thumb {
  margin-right: 50px;
  width: 370px;
  height: 425px;
}
@media (min-width: 768px) {
  .post-horizontal-large .post_thumb {
    width: calc(50% - 15px);
    float: left;
    margin: 0 20px 0 0;
  }
}
@media (min-width: 992px) {
  .post-horizontal-large .post_thumb {
    margin: 0 30px 0 0 ;
  }
}
.post--horizontal-large .post__thumb {
  width: 100%;
  margin: 0 15px 5px 0;
}
@media (max-width: 1199px) {
  .post-horizontal-large .post_thumb {
    margin-right: 40px ;
    width: 296px ;
    height: 340px ;
  }
}
.post_thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

