@tailwind base;
@tailwind components;
@tailwind utilities;

input:focus {
  background-color: aliceblue;
  color: black;
}
aside .fa{
  display: flex !important;
  align-items: center;
  justify-content: center;
}